test-suite/schema-generation/datatypes/datatypes-prose_xml-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
           xmlns:metaschema-datatypes="http://csrc.nist.gov/ns/metaschema/unit-test/datatypes"
           xmlns:oscal-prose="http://csrc.nist.gov/ns/metaschema/unit-test/datatypes"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/ns/metaschema/unit-test/datatypes"
           version="1.0-milestone1">
   <xs:annotation>
      <xs:appinfo>
         <m:schema-name>Metaschema Unit Test: datatypes</m:schema-name>
         <m:schema-version>1.0-milestone1</m:schema-version>
         <m:short-name>metaschema-datatypes</m:short-name>
         <m:root>parent</m:root>
      </xs:appinfo>
   </xs:annotation>
   <xs:element name="parent" m:root="yes">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>parent</m:formal-name>
            <m:description>parent assembly</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>parent</b>: parent assembly</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="metaschema-datatypes:field-date" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="metaschema-datatypes:field-plaintext"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element ref="metaschema-datatypes:field-flag-plaintext"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element ref="metaschema-datatypes:field-richtext"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element ref="metaschema-datatypes:field-flag-richtext"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="field-prose" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <m:formal-name>Prose</m:formal-name>
                     <m:description>Prose permits multiple paragraphs, lists, tables etc.</m:description>
                  </xs:appinfo>
                  <xs:documentation>
                     <b>Prose</b>: Prose permits multiple paragraphs, lists, tables etc.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:group ref="metaschema-datatypes:PROSE"
                            maxOccurs="unbounded"
                            minOccurs="0"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="field-flag-prose" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <m:formal-name>Prose</m:formal-name>
                     <m:description>Prose permits multiple paragraphs, lists, tables etc.</m:description>
                  </xs:appinfo>
                  <xs:documentation>
                     <b>Prose</b>: Prose permits multiple paragraphs, lists, tables etc.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:group ref="metaschema-datatypes:PROSE"
                            maxOccurs="unbounded"
                            minOccurs="0"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="field-date">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Date</m:formal-name>
            <m:description>With time zone</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Date</b>: With time zone</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="metaschema-datatypes:date-with-timezone"/>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="field-plaintext">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Plain text</m:formal-name>
            <m:description>plain text, no markup</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Plain text</b>: plain text, no markup</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string"/>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="field-flag-plaintext">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Plain text</m:formal-name>
            <m:description>plain text, no markup</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Plain text</b>: plain text, no markup</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="length" type="xs:positiveInteger">
                  <xs:annotation>
                     <xs:appinfo>
                        <m:formal-name>Length</m:formal-name>
                        <m:description>The length.</m:description>
                     </xs:appinfo>
                     <xs:documentation>
                        <b>Length</b>: The length.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="field-richtext">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Rich text</m:formal-name>
            <m:description>Rich text supports markup</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Rich text</b>: Rich text supports markup</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="metaschema-datatypes:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="field-flag-richtext">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Rich text</m:formal-name>
            <m:description>Rich text supports markup</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Rich text</b>: Rich text supports markup</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:group ref="metaschema-datatypes:everything-inline"/>
         <xs:attribute name="length" type="xs:positiveInteger">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Length</m:formal-name>
                  <m:description>The length.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Length</b>: The length.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:group name="PROSE">
      <xs:choice>
         <xs:element ref="oscal-prose:h1"/>
         <xs:element ref="oscal-prose:h2"/>
         <xs:element ref="oscal-prose:h3"/>
         <xs:element ref="oscal-prose:h4"/>
         <xs:element ref="oscal-prose:h5"/>
         <xs:element ref="oscal-prose:h6"/>
         <xs:element ref="oscal-prose:p"/>
         <xs:element ref="oscal-prose:ul"/>
         <xs:element ref="oscal-prose:ol"/>
         <xs:element ref="oscal-prose:pre"/>
         <xs:element ref="oscal-prose:table"/>
      </xs:choice>
   </xs:group>
   <xs:element name="h1">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h2">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h3">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h4">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h5">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h6">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:everything-inline"/>
            <xs:element ref="oscal-prose:ol"/>
            <xs:element ref="oscal-prose:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="table">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:tr"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="tr">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element maxOccurs="unbounded" ref="oscal-prose:td"/>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:th"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="th">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="td">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="everything-inline">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:group ref="oscal-prose:special"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal-prose:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
            <xs:element ref="oscal-prose:img"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="q">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="code">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:mix"/>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="strong">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="em">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sup">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="img">
      <xs:complexType>
         <xs:attribute name="alt"/>
         <xs:attribute name="src" use="required" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="a">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element name="em">
               <xs:complexType mixed="true">
                  <xs:attributeGroup ref="oscal-prose:optionalClass"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="special">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:insert"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="insert">
      <xs:complexType>
         <xs:attribute name="param-id" use="required" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="requiredClass"/>
   <xs:attributeGroup name="optionalClass"/>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
   <xs:simpleType name="date-with-timezone">
      <xs:annotation>
         <xs:documentation>The xs:date with a required timezone.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:date">
         <xs:pattern value=".+[:Z].*"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
