toolchains/xslt-proto-v04/schema_gen/xsd-scratch.xsd

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/metaschema/ns/resource-registry-experimental"
           version="1.0">
   <xs:annotation>
      <xs:appinfo>
         <schema-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">OSCAL Resource Registry (Experimental)</schema-name>
         <schema-version xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">1.0</schema-version>
         <short-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">oscal-resource-manifest</short-name>
         <m:root xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0">group</m:root>
      </xs:appinfo>
   </xs:annotation>
   <xs:element name="validate">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Abstract validation</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Points to an abstract rule set, by means of a reference to a work in the manifest.</description>
         </xs:appinfo>
         <xs:documentation>
            <b>Abstract validation</b>: Points to an abstract rule set, by means of a reference to a work in the manifest.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="rules" type="xs:string">
            <xs:annotation>
               <xs:appinfo>
                  <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Abstract rule set</formal-name>
                  <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Should resolve to a <code>work</code> elsewhere in the manifest, whereby technology-appropriate mappings may be made.</description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Abstract rule set</b>: Should resolve to a work elsewhere in the manifest, whereby technology-appropriate mappings may be made.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="valid">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">(Actual) validations</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">In contrast to abstract validations, these are actual executable validation operations. As such, a validation may also imply or warrant further (processing) semantics. (tbd)</description>
         </xs:appinfo>
         <xs:documentation>
            <b>(Actual) validations</b>: In contrast to abstract validations, these are actual executable validation operations. As such, a validation may also imply or warrant further (processing) semantics. (tbd)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="timestamp" type="oscal-resource-manifest:dateTime-with-timezone">
                  <xs:annotation>
                     <xs:appinfo>
                        <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Time Stamp</formal-name>
                        <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">When a validation is represented as having been performed. Should not be a date in the future.</description>
                     </xs:appinfo>
                     <xs:documentation>
                        <b>Time Stamp</b>: When a validation is represented as having been performed. Should not be a date in the future.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="href" type="oscal-resource-manifest:uri-reference">
                  <xs:annotation>
                     <xs:appinfo>
                        <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Hypertext reference</formal-name>
                        <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A relative URI, resolved with reference to base (ancestry).</description>
                     </xs:appinfo>
                     <xs:documentation>
                        <b>Hypertext reference</b>: A relative URI, resolved with reference to base (ancestry).</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
               name="group"
               m:root="yes">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Resource Group</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A group of resources, organized as works, each of which may have several representations or embodiments. Groups can appear within groups for categorization of their works. A group may be designated with its own retrieval path (absolute or relative to its containing group or registry), to be used as a basis for retrieval of items (works) from within the group.</description>
         </xs:appinfo>
         <xs:documentation>
            <b>Resource Group</b>: A group of resources, organized as works, each of which may have several representations or embodiments. Groups can appear within groups for categorization of their works. A group may be designated with its own retrieval path (absolute or relative to its containing group or registry), to be used as a basis for retrieval of items (works) from within the group.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:work"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="oscal-resource-manifest:group"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="base" type="oscal-resource-manifest:uri-reference">
            <xs:annotation>
               <xs:appinfo>
                  <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Base URI</formal-name>
                  <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Nominal reference URI from which relative URIs are determined. As a relative URI, this is resolved relative to any ancestor <code>base</code> flags, resolved with the base URI of the manifest itself as the ultimate base ".". Any base may be defined either relatively to bases above it, or as an absolute URI (URL) on the Internet.</description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Base URI</b>: Nominal reference URI from which relative URIs are determined. As a relative URI, this is resolved relative to any ancestor base flags, resolved with the base URI of the manifest itself as the ultimate base ".". Any base may be defined either relatively to bases above it, or as an absolute URI (URL) on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="work">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Work</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">An abstract resource, considered as a generalized "work" (FRBR). A work is capable of multiple different representations. A resource registry provides a mapping from works to expressions and instances of that work, represented as items.</description>
         </xs:appinfo>
         <xs:documentation>
            <b>Work</b>: An abstract resource, considered as a generalized "work" (FRBR). A work is capable of multiple different representations. A resource registry provides a mapping from works to expressions and instances of that work, represented as items.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:title" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="oscal-resource-manifest:validate"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="oscal-resource-manifest:item"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="oscal-resource-manifest:mirror"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:string">
            <xs:annotation>
               <xs:appinfo>
                  <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Identifier</formal-name>
                  <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A unique id or key for reference across the system of documents described by this manifest.</description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Identifier</b>: A unique id or key for reference across the system of documents described by this manifest.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Title</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A name for the work.</description>
         </xs:appinfo>
         <xs:documentation>
            <b>Title</b>: A name for the work.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string"/>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="item">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Item</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A particular instantiation or retrievable (actionable) representation of a work. The form the item takes is relative to the item.</description>
         </xs:appinfo>
         <xs:documentation>
            <b>Item</b>: A particular instantiation or retrievable (actionable) representation of a work. The form the item takes is relative to the item.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:valid"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="format">
            <xs:annotation>
               <xs:appinfo>
                  <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Format</formal-name>
                  <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">The nominal format of the item.</description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Format</b>: The nominal format of the item.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="xml">
                     <xs:annotation>
                        <xs:documentation>
                           <p>XML</p>
                        </xs:documentation>
                     </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="json">
                     <xs:annotation>
                        <xs:documentation>
                           <p>JSON</p>
                        </xs:documentation>
                     </xs:annotation>
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="href" type="oscal-resource-manifest:uri-reference">
            <xs:annotation>
               <xs:appinfo>
                  <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Hypertext reference</formal-name>
                  <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A relative URI, resolved with reference to base (ancestry).</description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Hypertext reference</b>: A relative URI, resolved with reference to base (ancestry).</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="mirror">
      <xs:annotation>
         <xs:appinfo>
            <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Mirror</formal-name>
            <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A subgrouping of items found relative to a new base.</description>
         </xs:appinfo>
         <xs:documentation>
            <b>Mirror</b>: A subgrouping of items found relative to a new base.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:item"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="base" type="oscal-resource-manifest:uri-reference">
            <xs:annotation>
               <xs:appinfo>
                  <formal-name xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">Base (URI)</formal-name>
                  <description xmlns="http://csrc.nist.gov/ns/oscal/metaschema/1.0">A definition or redefinition of a URI base from which file traversal is executed. As a relative URI, this should be resolved in relation to the actual calculated base of the context.</description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Base (URI)</b>: A definition or redefinition of a URI base from which file traversal is executed. As a relative URI, this should be resolved in relation to the actual calculated base of the context.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:simpleType xmlns="http://standards.iso.org/iso/19770/-2/2015/schema.xsd"
                  xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
                  name="dateTime-with-timezone">
      <xs:annotation>
         <xs:documentation>The xs:dateTime with a required timezone.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime">
         <xs:pattern value=".+T.+(Z|[+-].+)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns="http://standards.iso.org/iso/19770/-2/2015/schema.xsd"
                  xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
                  name="uri-reference">
      <xs:annotation>
         <xs:documentation>A URI reference, such as a relative URL</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:anyURI">
         <xs:whiteSpace value="collapse"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
