test-suite/worked-examples/anthology/anthology_metaschema_XML-SCHEMA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
           xmlns:anthology="http://csrc.nist.gov/metaschema/ns/anthology"
           xmlns:oscal-prose="http://csrc.nist.gov/metaschema/ns/anthology"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/metaschema/ns/anthology"
           version="1.0">
   <xs:annotation>
      <xs:appinfo>
         <m:schema-name>Anthology Metaschema</m:schema-name>
         <m:schema-version>1.0</m:schema-version>
         <m:short-name>anthology</m:short-name>
         <m:remarks>
            <p>A mini metaschema produced for testing purposes. Use at your own risk.</p>
         </m:remarks>
         <m:root>ANTHOLOGY</m:root>
      </xs:appinfo>
   </xs:annotation>
   <xs:element name="ANTHOLOGY" type="anthology:anthology-ASSEMBLY"/>
   <xs:complexType name="anthology-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Anthology</m:formal-name>
            <m:description>A collection of literary excerpts</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Anthology</b>: A collection of literary excerpts</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="meta"
                     type="anthology:meta-ASSEMBLY"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="piece"
                     type="anthology:piece-ASSEMBLY"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="back"
                     type="anthology:back-ASSEMBLY"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:NCName">
         <xs:annotation>
            <xs:appinfo>
               <m:formal-name>Identifier</m:formal-name>
               <m:description>A distinct code</m:description>
            </xs:appinfo>
            <xs:documentation>
               <b>Identifier</b>: A distinct code</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="meta-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Front matter / metadata</m:formal-name>
            <m:description>Metadata for the anthology as a whole, or for a single piece within it</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Front matter / metadata</b>: Metadata for the anthology as a whole, or for a single piece within it</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="creator"
                     type="anthology:creator-FIELD"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="remarks" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Remarks</m:formal-name>
                  <m:description>Pertinent information of any kind.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Remarks</b>: Pertinent information of any kind.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:group ref="anthology:PROSE" maxOccurs="unbounded" minOccurs="0"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creator-FIELD">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Creator (author or editor)</m:formal-name>
            <m:description>The text contents should name the person; the optional <m:code>who</m:code> flag links it to the index.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Creator (author or editor)</b>: The text contents should name the person; the optional who flag links it to the index.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="role" use="required">
               <xs:annotation>
                  <xs:appinfo>
                     <m:formal-name>Role</m:formal-name>
                     <m:description>Contribution of the creator</m:description>
                  </xs:appinfo>
                  <xs:documentation>
                     <b>Role</b>: Contribution of the creator</xs:documentation>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="author">
                        <xs:annotation>
                           <xs:documentation>
                              <p>Author</p>
                           </xs:documentation>
                        </xs:annotation>
                     </xs:enumeration>
                     <xs:enumeration value="editor">
                        <xs:annotation>
                           <xs:documentation>
                              <p>Editor</p>
                           </xs:documentation>
                        </xs:annotation>
                     </xs:enumeration>
                     <xs:enumeration value="translator">
                        <xs:annotation>
                           <xs:documentation>
                              <p>Translator</p>
                           </xs:documentation>
                        </xs:annotation>
                     </xs:enumeration>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="who" type="xs:string">
               <xs:annotation>
                  <xs:appinfo>
                     <m:formal-name>Person identifier</m:formal-name>
                     <m:description>Relates a person to the biographical index</m:description>
                  </xs:appinfo>
                  <xs:documentation>
                     <b>Person identifier</b>: Relates a person to the biographical index</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="piece-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Piece</m:formal-name>
            <m:description>A single anthologized piece; poetry or prose, entire or excerpted</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Piece</b>: A single anthologized piece; poetry or prose, entire or excerpted</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="meta"
                     type="anthology:meta-ASSEMBLY"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:choice>
            <xs:element name="verse"
                        type="anthology:verse-ASSEMBLY"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="prose" minOccurs="0" maxOccurs="1">
               <xs:annotation>
                  <xs:appinfo>
                     <m:formal-name>Prose</m:formal-name>
                     <m:description>Short prose or an excerpt</m:description>
                  </xs:appinfo>
                  <xs:documentation>
                     <b>Prose</b>: Short prose or an excerpt</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:group ref="anthology:PROSE" maxOccurs="unbounded" minOccurs="0"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="verse-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Verse</m:formal-name>
            <m:description>A composition in lines, or an excerpt from such a composition</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Verse</b>: A composition in lines, or an excerpt from such a composition</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice>
            <xs:element name="line"
                        type="anthology:line-FIELD"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="stanza"
                        type="anthology:stanza-ASSEMBLY"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string">
         <xs:annotation>
            <xs:appinfo>
               <m:formal-name>Verse type</m:formal-name>
               <m:description>Any specialized form such as Byronic, terza rima, sestina, sonnet</m:description>
            </xs:appinfo>
            <xs:documentation>
               <b>Verse type</b>: Any specialized form such as Byronic, terza rima, sestina, sonnet</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType mixed="true" name="line-FIELD">
      <xs:group ref="anthology:everything-inline"/>
   </xs:complexType>
   <xs:complexType name="stanza-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Stanza</m:formal-name>
            <m:description>A group of lines within a verse</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Stanza</b>: A group of lines within a verse</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="line"
                     type="anthology:line-FIELD"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string">
         <xs:annotation>
            <xs:appinfo>
               <m:formal-name>Verse type</m:formal-name>
               <m:description>Any specialized form such as Byronic, terza rima, sestina, sonnet</m:description>
            </xs:appinfo>
            <xs:documentation>
               <b>Verse type</b>: Any specialized form such as Byronic, terza rima, sestina, sonnet</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="back-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Back matter</m:formal-name>
            <m:description>Indexes and appurtenances</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Back matter</b>: Indexes and appurtenances</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="author-index"
                     type="anthology:author-index-ASSEMBLY"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-index-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Author index</m:formal-name>
            <m:description>Information about authors cited in the anthology</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Author index</b>: Information about authors cited in the anthology</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="author"
                     type="anthology:author-ASSEMBLY"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-ASSEMBLY">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Author</m:formal-name>
            <m:description>A single author cited in the anthology, with relevant info</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Author</b>: A single author cited in the anthology, with relevant info</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name"
                     type="anthology:name-FIELD"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="dates"
                     type="anthology:dates-FIELD"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="publication"
                     type="anthology:publication-FIELD"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:NCName">
         <xs:annotation>
            <xs:appinfo>
               <m:formal-name>Identifier</m:formal-name>
               <m:description>A distinct code</m:description>
            </xs:appinfo>
            <xs:documentation>
               <b>Identifier</b>: A distinct code</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="name-FIELD">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Name</m:formal-name>
            <m:description>A personal or place name</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Name</b>: A personal or place name</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="dates-FIELD"/>
   <xs:complexType name="publication-FIELD">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Publication</m:formal-name>
            <m:description>A publication attributed to an author</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Publication</b>: A publication attributed to an author</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="date" type="xs:date">
               <xs:annotation>
                  <xs:appinfo>
                     <m:formal-name>Publication date</m:formal-name>
                     <m:description>Date of (first) publication</m:description>
                  </xs:appinfo>
                  <xs:documentation>
                     <b>Publication date</b>: Date of (first) publication</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:group name="PROSE">
      <xs:choice>
         <xs:element ref="oscal-prose:h1"/>
         <xs:element ref="oscal-prose:h2"/>
         <xs:element ref="oscal-prose:h3"/>
         <xs:element ref="oscal-prose:h4"/>
         <xs:element ref="oscal-prose:h5"/>
         <xs:element ref="oscal-prose:h6"/>
         <xs:element ref="oscal-prose:p"/>
         <xs:element ref="oscal-prose:ul"/>
         <xs:element ref="oscal-prose:ol"/>
         <xs:element ref="oscal-prose:pre"/>
         <xs:element ref="oscal-prose:table"/>
      </xs:choice>
   </xs:group>
   <xs:element name="h1">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h2">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h3">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h4">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h5">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="h6">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:inlines"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="pre">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ol">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="li">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:everything-inline"/>
            <xs:element ref="oscal-prose:ol"/>
            <xs:element ref="oscal-prose:ul"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ul">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:li"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="table">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:tr"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="tr">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element maxOccurs="unbounded" ref="oscal-prose:td"/>
            <xs:element maxOccurs="unbounded" ref="oscal-prose:th"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="th">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="td">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:everything-inline"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="everything-inline">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:group ref="oscal-prose:special"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="mix">
      <xs:sequence>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="oscal-prose:inlines"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="inlines">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
            <xs:element ref="oscal-prose:img"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="q">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:code"/>
            <xs:element ref="oscal-prose:em"/>
            <xs:element ref="oscal-prose:i"/>
            <xs:element ref="oscal-prose:b"/>
            <xs:element ref="oscal-prose:strong"/>
            <xs:element ref="oscal-prose:sub"/>
            <xs:element ref="oscal-prose:sup"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="code">
      <xs:complexType mixed="true">
         <xs:group ref="oscal-prose:mix"/>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="strong">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="em">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="i">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="b">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="oscal-prose:mix"/>
            <xs:element ref="oscal-prose:a"/>
         </xs:choice>
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sub">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sup">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="oscal-prose:optionalClass"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="img">
      <xs:complexType>
         <xs:attribute name="alt"/>
         <xs:attribute name="src" use="required" type="xs:anyURI"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="a">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:q"/>
            <xs:element ref="oscal-prose:code"/>
            <xs:element name="em">
               <xs:complexType mixed="true">
                  <xs:attributeGroup ref="oscal-prose:optionalClass"/>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:attribute name="href"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="special">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="oscal-prose:insert"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="insert">
      <xs:complexType>
         <xs:attribute name="param-id" use="required" type="xs:NCName"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="requiredClass"/>
   <xs:attributeGroup name="optionalClass"/>
   <xs:attributeGroup name="hrefAttr">
      <xs:attribute name="href"/>
   </xs:attributeGroup>
</xs:schema>
