test-suite/worked-example/resource-registry_xml-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:m="http://csrc.nist.gov/ns/oscal/metaschema/1.0"
           xmlns:oscal-resource-manifest="http://csrc.nist.gov/metaschema/ns/resource-manifest-experimental"
           xmlns:oscal-prose="http://csrc.nist.gov/metaschema/ns/resource-manifest-experimental"
           elementFormDefault="qualified"
           targetNamespace="http://csrc.nist.gov/metaschema/ns/resource-manifest-experimental"
           version="1.0">
   <xs:annotation>
      <xs:appinfo>
         <m:schema-name>OSCAL Resource Registry (Experimental)</m:schema-name>
         <m:schema-version>1.0</m:schema-version>
         <m:short-name>oscal-resource-manifest</m:short-name>
         <m:root>group</m:root>
      </xs:appinfo>
   </xs:annotation>
   <xs:element name="validate">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Abstract validation</m:formal-name>
            <m:description>Points to an abstract rule set, by means of a reference to a work in the manifest.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Abstract validation</b>: Points to an abstract rule set, by means of a reference to a work in the manifest.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="rules" type="xs:string">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Abstract rule set</m:formal-name>
                  <m:description>Should resolve to a <m:code>work</m:code> elsewhere in the manifest, whereby technology-appropriate mappings may be made.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Abstract rule set</b>: Should resolve to a work elsewhere in the manifest, whereby technology-appropriate mappings may be made.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="valid">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>(Actual) validations</m:formal-name>
            <m:description>In contrast to abstract validations, these are actual executable validation operations. As such, a validation may also imply or warrant further (processing) semantics. (tbd)</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>(Actual) validations</b>: In contrast to abstract validations, these are actual executable validation operations. As such, a validation may also imply or warrant further (processing) semantics. (tbd)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="timestamp" type="oscal-resource-manifest:dateTime-with-timezone">
                  <xs:annotation>
                     <xs:appinfo>
                        <m:formal-name>Time Stamp</m:formal-name>
                        <m:description>When a validation is represented as having been performed. Should not be a date in the future.</m:description>
                     </xs:appinfo>
                     <xs:documentation>
                        <b>Time Stamp</b>: When a validation is represented as having been performed. Should not be a date in the future.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="href" type="oscal-resource-manifest:uri-reference">
                  <xs:annotation>
                     <xs:appinfo>
                        <m:formal-name>Hypertext reference</m:formal-name>
                        <m:description>A relative URI, resolved with reference to base (ancestry).</m:description>
                     </xs:appinfo>
                     <xs:documentation>
                        <b>Hypertext reference</b>: A relative URI, resolved with reference to base (ancestry).</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="group" m:root="yes">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Resource Group</m:formal-name>
            <m:description>A group of resources, organized as works, each of which may have several representations or embodiments. Groups can appear within groups for categorization of their works. A group may be designated with its own retrieval path (absolute or relative to its containing group or registry), to be used as a basis for retrieval of items (works) from within the group.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Resource Group</b>: A group of resources, organized as works, each of which may have several representations or embodiments. Groups can appear within groups for categorization of their works. A group may be designated with its own retrieval path (absolute or relative to its containing group or registry), to be used as a basis for retrieval of items (works) from within the group.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:work"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="oscal-resource-manifest:group"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="base" type="oscal-resource-manifest:uri-reference">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Base URI</m:formal-name>
                  <m:description>Nominal reference URI from which relative URIs are determined. As a relative URI, this is resolved relative to any ancestor <m:code>base</m:code> flags, resolved with the base URI of the manifest itself as the ultimate base ".". Any base may be defined either relatively to bases above it, or as an absolute URI (URL) on the Internet.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Base URI</b>: Nominal reference URI from which relative URIs are determined. As a relative URI, this is resolved relative to any ancestor base flags, resolved with the base URI of the manifest itself as the ultimate base ".". Any base may be defined either relatively to bases above it, or as an absolute URI (URL) on the Internet.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="work">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Work</m:formal-name>
            <m:description>An abstract resource, considered as a generalized "work" (FRBR). A work is capable of multiple different representations. A resource registry provides a mapping from works to expressions and instances of that work, represented as items.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Work</b>: An abstract resource, considered as a generalized "work" (FRBR). A work is capable of multiple different representations. A resource registry provides a mapping from works to expressions and instances of that work, represented as items.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:title" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="oscal-resource-manifest:validate"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="oscal-resource-manifest:item"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element ref="oscal-resource-manifest:mirror"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="id" type="xs:string">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Identifier</m:formal-name>
                  <m:description>A unique id or key for reference across the system of documents described by this manifest.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Identifier</b>: A unique id or key for reference across the system of documents described by this manifest.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Title</m:formal-name>
            <m:description>A name for the work.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Title</b>: A name for the work.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string"/>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="item">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Item</m:formal-name>
            <m:description>A particular instantiation or retrievable (actionable) representation of a work. The form the item takes is relative to the item.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Item</b>: A particular instantiation or retrievable (actionable) representation of a work. The form the item takes is relative to the item.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:valid"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="format">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Format</m:formal-name>
                  <m:description>The nominal format of the item.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Format</b>: The nominal format of the item.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="xml">
                     <xs:annotation>
                        <xs:documentation>
                           <p>XML</p>
                        </xs:documentation>
                     </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="json">
                     <xs:annotation>
                        <xs:documentation>
                           <p>JSON</p>
                        </xs:documentation>
                     </xs:annotation>
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="href" type="oscal-resource-manifest:uri-reference">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Hypertext reference</m:formal-name>
                  <m:description>A relative URI, resolved with reference to base (ancestry).</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Hypertext reference</b>: A relative URI, resolved with reference to base (ancestry).</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="mirror">
      <xs:annotation>
         <xs:appinfo>
            <m:formal-name>Mirror</m:formal-name>
            <m:description>A subgrouping of items found relative to a new base.</m:description>
         </xs:appinfo>
         <xs:documentation>
            <b>Mirror</b>: A subgrouping of items found relative to a new base.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="oscal-resource-manifest:item"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="base" type="oscal-resource-manifest:uri-reference">
            <xs:annotation>
               <xs:appinfo>
                  <m:formal-name>Base (URI)</m:formal-name>
                  <m:description>A definition or redefinition of a URI base from which file traversal is executed. As a relative URI, this should be resolved in relation to the actual calculated base of the context.</m:description>
               </xs:appinfo>
               <xs:documentation>
                  <b>Base (URI)</b>: A definition or redefinition of a URI base from which file traversal is executed. As a relative URI, this should be resolved in relation to the actual calculated base of the context.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="dateTime-with-timezone">
      <xs:annotation>
         <xs:documentation>The xs:dateTime with a required timezone.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime">
         <xs:pattern value=".+T.+(Z|[+-].+)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="uri-reference">
      <xs:annotation>
         <xs:documentation>A URI reference, such as a relative URL</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:anyURI">
         <xs:whiteSpace value="collapse"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
